/********** Base styles **********/
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}  

h1 {
    text-align: center;
    font-size: 40px;
	color: #3d3b8e;
	margin-bottom: 10px;
}

.row {
    width: 100%;
}

p {
	font-size: 16px;
    padding: 15px 5px 0px 5px;
	position: relative;
}

.section { 
    text-align: justify;
    background-color: #dddddd;
   	border: 2px solid rgb(149, 149, 149);
   	margin-top: 20px; 
   	margin-right: 20px;
    margin-left: 20px; 
   	padding: 3px;
   	position: relative;
}

span {
	font-size: 20px;
    font-weight: bold;
    text-align: center;
	border: 1px solid rgb(149, 149, 149);
	width: 150px;
	float: right; 
    top: 0; 
    right: 0; 
    margin: 0;
	position: absolute;
}

#s1 {
	background-color: #6883ba;
	color: white;
}
#s2 {
	background-color: #e072a4;
	color: white;
}
#s3 {
	background-color: #b0e298;
	color: white;
}



/********** Desktops **********/
@media (min-width: 992px) {
    .desktop-4 {
        width: 33.33%;
        float: left;
    }
}

/********** Tablets **********/
@media (min-width: 768px) and (max-width: 991px) {
    .tablet-6 {
        width: 50%;
        float: left;
    }
    .tablet-12 {
        width: 100%;
        float: left;
    }
}

/********** Mobile Phones **********/
@media (max-width: 767px)  {
    .mobile-12 {
        width: 100%;
        float: left;
    }
}
